table {
    border-spacing: 0;
    min-width: 100%;
    border-color: grey;
    border-collapse: separate;
    border-right: none;
    border-left: none;
}

thead {
    min-height: 34px;
    height: 34px;
    background-color: #eceef1;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    vertical-align: middle;
}

thead th {
    height: 34px;
    text-transform: uppercase;
    align-items: center;
}

tbody td,
th {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 0.5px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    height: 47px;
}

th,
td {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    align-items: center;
}

th {
    position: sticky;
    top: -1px;
    background-color: #eceef1;
}

.checkbox {
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.checkbox-active {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -1225px -363px;
}

tbody {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

table.base-table tbody tr:hover td {
    background-color: #f3f8f8 !important;
}

table.base-table tbody tr.active {
    background-color: #f3f8f8 !important;
}

table .sticky-cell-body {
    position: sticky !important;
    z-index: 2 !important;
    background-color: white !important;
}

table .sticky-cell-header {
    position: sticky;
    z-index: 3 !important;
    background-color: #eceef1;
    border-right: 1px solid #c7c7c7;
}

.float-right {
    right: -2px;
    width: 120px;
    min-width: 120px;
    top: 0px;
    border-left: 1px solid #c7c7c7;
}

.float-left {
    left: 0;
    min-width: 30px;
    padding-top: 0;
}

.float-top {
    top: 0;
    position: sticky;
}

tbody tr:focus {
    background-color: #f3f8f8 !important;
}